@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* .App{
  background-color: ;
} */
.movies ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.container {
  max-width: 1000px;
  margin: auto;

}

.movies ul .listItem {
  width: 22%;
  overflow: hidden;
}

.movies li img {
  width: 100%;
  border-radius: 10px;
}

ul li h3 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper h4 {
  color: black;
}

.popup-header button {
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: lightgray;
}

.wrapper button {
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: lightgray;
}


p span {
  padding: 4px 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.9);
  padding-top: 20px;
  padding-bottom: 20px;
}

.popup-body {
  width: 70%;
  height: 100%;
  /* background-color: #fff; */
  margin: auto;
}

.popup-header {
  width: 100%;
  text-align: right;
}

.popup-card {
  display: flex;
  gap: 50px;
  width: 70%;
}

.popup-card-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}


.popup-card-details h1,
p,
h4 {
  color: #fff;
}

.popup-card img {
  width: 50%;
  border-radius: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: black;
  margin-bottom: 40px;
  align-items: center;
}

.navbar .navbar-logo a {
  color: white;
  text-decoration: none;
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
}


form input {
  padding: 8px 14px;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-right: 10px;
}

form button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: lightgray;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0 0;
}

.pagination li {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px;
  transition: all ease 0.3s;
}

.pagination li:hover {
  background-color: red;
  border-color: red;
}


/* Media queries for mobile */
@media(min-width:375px) and (max-width:667px) {
  .navbar {
    padding: 10px 12px;
  }

  .container {
    max-width: 375px;
    margin: 0 30px;
  }

  .movies ul li {
    width: 20%;
    overflow: hidden;
  }

  ul li h3 {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .wrapper button {
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightgray;
    border: none;
  }

  .popup-body {
    width: 100%;

  }

  .popup-card {
    width: 100%;
  }

  .popup-card img {
    width: 50%;
    border-radius: 16px;
  }
}